.container{
  background-color: #ffffff;
  margin-top: -21px;
  height: 80px;
  margin-bottom: 50px;
  
}
.navbarTitle{
  color: #6808e6;
  padding-top: 15px;
  margin-left: 60px;
  font-weight: 700;
 
  
}
.link{
  text-decoration: none;
}
:root{
  background-color: #e8e9ec;
}
.home>h2{
  margin-left: 60px;
}
.para{
  background-color: #ffffff;
  height: 100px;
  width: 60%;
  margin-left: 60px;
  border-radius: 20px;
  
}
.workout-details{
  background-color: #ffffff;
  width: 60%;
  margin-left: 60px;
  border-radius: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgb(0,0,0,0.05);
  margin-bottom: 10px;
}
.workout-details h4{
  margin: 0;
  margin-left: 10px;
  margin-bottom: 2px;
  font-size: 1.2em;
  color: #059cf3;
  
}
.workout-details p{
  margin: 0;
  margin-left: 10px;
  font-size: 0.9em;
  font-weight: 500;
  margin-bottom: 2px;
  
}