.container{
  background-color: #ffffff;
  margin-top: -21px;
  height: 80px;
  
}
.navbarTitle{
  color: #6808e6;
  padding-top: 15px;
  margin-left: 60px;
  font-weight: 700;
 
  
}
.link{
  text-decoration: none;
}
:root{
  background-color: #e8e9ec;
}
.home>h2{
  margin-left: 60px;
}