.container{
  background-color: #ffffff;
  margin-top: -21px;
  height: 80px;
  margin-bottom: 50px;
  
}
.navbarTitle{
  color: #6808e6;
  padding-top: 15px;
  margin-left: 60px;
  font-weight: 700;
 
  
}
.link{
  text-decoration: none;
}
:root{
  background-color: #e8e9ec;
}
.home>h2{
  margin-left: 60px;
}
.para{
  background-color: #ffffff;
  height: 100px;
  width: 60%;
  margin-left: 60px;
  border-radius: 20px;
  
}
.workout-details{
  background-color: #ffffff;
  
  margin-left: 60px;
  border-radius: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgb(0,0,0,0.05);
  margin-bottom: 10px;
}
.workout-details h4{
  margin: 0;
  margin-left: 10px;
  margin-bottom: 2px;
  font-size: 1.2em;
  color: #059cf3;
  
}
.workout-details p{
  margin: 0;
  margin-left: 10px;
  font-size: 0.9em;
  font-weight: 500;
  margin-bottom: 2px;
  
}
.home{
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.create{
  display: flex;
  flex-direction: column;
  width: 30%;
}
.workouts{
  width: 60%;
 
}
.create>input{
  border: none;
  height: 27px;
  border-radius: 7px;
}
.btnsubmit{
  margin-top: 20px;
  border-radius: 7px;
  height: 25px;
  width: 40%;
  font-size: 0.7em;
  margin-left: 60%;
  background-color: #059cf3;
  border: none;
}
div.error{
  padding: 10px;
  border: 1px solid red;
  color: #ffffff;
  border-radius: 4px;
  margin: 20px 0;
  background-color: #f07c7c;
}
